/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Variables
   ========================================================================== */
@import "compass/layout/grid-background";
@import "compass/typography/vertical_rhythm"; 
@import "compass/css3";
@import "compass/utilities";

 $color: #a0a0a0;
 $link-color: #2aa5b5;
 $light-grey: #f6f6f6;
 

 $base-font-size: 14px;
 $base-line-height: 6px;
 $set-leading: 4;
 
 
 @function em($px, $base-line-height: $base-font-size) {
    @return ($px / ($base-line-height)) * 1em;
}
 
 

/* BASELINE GRID */

 $grid-background-baseline-height: 1.71428571428571em;
 $grid-background-baseline-color: rgba(0, 0, 0, 0.1);
 $show-column-grid-backgrounds: false;
 $show-grid-backgrounds: false;
 // $grid-background-offset: 5px;
 
 
 @include establish-baseline;
 


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* { -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; }   
   
html,
button,
input,
select,
textarea {
    color: #777;
}

html {
	@include adjust-leading-to($set-leading);
	font-size: $base-font-size;
	// height: 100%;
}




body {
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 300; font-style: normal;
	// height: 100%;
	// @include grid-background;
	// overflow-x: hidden;
	// min-height: 600px !important;
}

.maincolumn, .mainheading {
	padding: 0 12px;
}
.maincolumn {
		@include grid-background;
		// min-height: 600px;
		
		ul, ol {
			padding-left: 20px;
			-webkit-column-break-inside:avoid;
-moz-column-break-inside:avoid;
-o-column-break-inside:avoid;
-ms-column-break-inside:avoid;
column-break-inside:avoid;
			
			li {
			
			
			list-style-type: disc;
				
			}
			margin-bottom: 24px;
		}

}

strong { font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 700; font-style: normal;}
summary {
	strong { font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 700; font-style: italic;}
	}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a { 
	text-decoration: none;
	color: $link-color;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




/* ==========================================================================
   ANIMATIONS
   ========================================================================== */



/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */

h1, h2, h3 {
	font-family: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B'; font-weight: 700; font-style: normal;
	color: #222;
}

aside {
	color: $color;
	font-family: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B'; font-weight: 300; font-style: normal;
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: em(21px);
	// letter-spacing: 0.05em;
	@include rhythm(5, 0, 0, 0, 32px);
	letter-spacing: 0.05em;
	
}

aside + h1 {
	margin-top: -5px;
}

aside.caption {
	text-align: center;
	@include rhythm(0, 0, 0, 15, 32px);
	color: #222;
}


/*
p:first-line {
	display:block;
	width:100px;
	overflow:visible;
	text-transform: small-caps;
}
*/

summary {
	@include adjust-font-size-to(16px);
	@include rhythm(0, 0, 0, 5, 32px);
	font-family: 'Sentinel SSm A', 'Sentinel SSm B'; font-weight: 300; font-style: italic;
	color: #444;
}

p + p {
	text-indent: 20px;
	@include rhythm(0, 0, 0, 0, 24px);
}

p + :not(p) {
	@include rhythm(5, 0, 0, 0, 24px);

}

p:first-of-type {
 @include rhythm(0, 0, 0, 0, 24px);
}

p:last-of-type {
 @include rhythm(0, 0, 0, 5, 24px);
}

p + img {
	@include rhythm(5, 0, 0, 5, 24px);
}

h1, p + h1 { 
	@include adjust-font-size-to(36px);
	@include rhythm(3, 1, 0, 3, 36px);
}


h2, p + h2 { 
	@include adjust-font-size-to(21px);
	@include rhythm(2, 1, 0, 1, 21px);
}


h3 { 
	@include adjust-font-size-to(16px);
	@include rhythm(0, 0, 0, 0, 16px);
}

p span {
	font-variant: small-caps;
	// text-transform: lowercase;
	font-size: 1em;
	// font-weight: 700;
	}
	
	

p {
	orphans: 2;
	widows: 2;
}

u {
	padding-left: 1em;
	text-decoration: none;
	text-transform: lowercase;
	font-variant: small-caps;
	font-family: 'Gotham SSm A', 'Gotham SSm B';
	font-weight: 400;
	@include rhythm(3, 0, 0, 0, 32px);
	display: inline-block;
}

u span { 
	color: #fff;
	padding: 4px 10px 5px 10px;
	@include border-radius(3px);
	display: inline-block;
	margin-right: 6px;
	white-space: nowrap;
	margin-bottom: 1em;
	}

.grd { background: #f2c600; h2 {color: #fff; } }
.prt { background: #f49e00; }
.ixd { background: #e77f11; h2 {color: #fff; } }
.dev { background: #d35600; }
.cmm { background: #c03b28; }
.sal { background: #913eaf; }
.tea { background: #9c55b7; }
.sto { background: #2a7ebb; }
.uid { background: #3595de;  h2 {color: #fff;} }
.uxd { background: #06a086; h2 {color: #fff; }}
.con { background: #00be9a; }
.pro { background: #636363; }


/* ==========================================================================
   MAIN STYLES
   ========================================================================== */




header {
	position: fixed;
	width: 100%;
	z-index: 9999;
}

header + :not(header) {
 padding-top: 44px;
}

img {  
max-width: 100%;
height: auto;
} 

img.normi {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
	
}

img.folio {
// 	padding: 5px;
	border: 5px solid #fff;
-webkit-box-shadow: 0px 0px 1px 1px #ddd;
-moz-box-shadow: 0px 0px 1px 1px #ddd;
box-shadow: 0px 0px 1px 1px #ddd;
}

.topimage {
	background: url('../img/portfolio-curve.png') no-repeat top center;
	background-size: contain;
	padding-bottom: 56.5625%;
}

img.foliosmall {
// 	padding: 5px;
	border: 5px solid #fff;
-webkit-box-shadow: 0px 0px 1px 1px #ddd;
-moz-box-shadow: 0px 0px 1px 1px #ddd;
box-shadow: 0px 0px 1px 1px #ddd;
}

button {
	border: 1px solid #ccc;
	background: $light-grey;
	-moz-outline:0 none;
outline:0 none;
}


// VIDEO

.videodiv { max-width: 1280px; margin: 0 auto; }
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


#mobilenav {
			height: 44px;
			background: rgba(230, 230, 230, 0);
			border-bottom: 1px solid #ccc;
			width: 100%;
			font-size: 15px;
			

	
	button {
		height: 100%;
		font-family: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B'; font-weight: 300; font-style: normal;
		background: rgba(240, 240, 240, 0.96);
	}	
	
	
	
	
	#navi {
		float: left;
	
	button {
			min-width: 54px;
			border-width:0px 1px 0px 0px;
			font-size: 16px;
		}
		
			cursor: pointer;
			height: 100%;
		i {
			color: $link-color;
			font-size: 24px;
			padding-top: 1px;
			// line-height: 1.4em;
			margin: 0;
			display: block;
		}
		
			
	}
	

	
	#logo {
		text-align: center;
		vertical-align: middle;
		overflow: hidden;
		height: 100%;

		button {
			line-height: 40px;
			border-width:0px;
			color: $link-color;
			width: 100%;
			line-height: 40px;
			text-indent: -23px;


		}

	}
	#contact {
		float: right;
		height: 100%;
		button {
			line-height: 40px;
			border-width:0px 0px 0px 1px;
			color: $link-color;

		}


	}	
	
}

nav.mainnavi {
		display: none;
		background: rgba(255, 255, 255, 0.98);
		@include box-shadow(rgba(0, 0, 0, 0.2) 0px 0px 10px);
		
			button {
		height: 44px;
		line-height: 44px;
		width: 44px;
		background:transparent ;
		float: right;
		border-color: rgba(220, 220, 220, 0.98);
		border-width: 0px 0px 0px 1px;
	}	
		i { 
			color: $link-color;
			// border-left: 1px solid rgba(220, 220, 220, 0.98);
			display: inline-block;
			height: 100%;
			line-height: 44px;
			
			}
			
		
		
		ul li { border-bottom: 1px solid rgba(220, 220, 220, 0.98);
					font-family: 'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B'; font-weight: 300; font-style: normal;
					//font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 1px;
					
		}
		
		ul li ul li {
			border-bottom: 0px solid rgba(220, 220, 220, 0.98);
		}
		
		.level2 {
			border-top: 1px solid rgba(220, 220, 220, 0.98);
			@include box-shadow(rgba(240,240,240, 0.98) 4px 0 8px 0px inset);
			display: none;
		}	
		
		ul li a {
			display: block;
			line-height: 44px;
			width: 100%;
			text-indent: 20px;
		}
		
		ul li ul li a {
			display: block;
			line-height: 44px;
			width: 100%;
			text-indent: 30px;
		}
}		



nav.mainnavi ul li.togglebut a {
	width: -moz-calc(100% - 44px);
    width: -webkit-calc(100% - 44px);
    width: -o-calc(100% - 44px);
    width: calc(100% - 44px);
	display: inline-block;
}




.maincolumn ul.lis li {
	list-style: disc;
	overflow-x: visible;
	height: auto;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
}

.maincolumn h1, h2, h3, summary, p, ul.lis, .mainheading h1, h2, h3, summary, aside, p, ul.lis, .colwrapper  {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
	
}




img.full {
	// margin-top: 2em;
	width: 100%;
	text-align: center;

}

 img.folio  {
	  display: block;
	  padding: 0px;
	  width: calc(100% - 30px);
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1280px;
  }
  
 img.foliosmall  {
	  display: block;
	  padding: 0px;
	  width: calc(100% - 30px);
	  text-align: center;
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 940px;
  }  


div.folio-bg {
	padding-left: 0;
	padding-right: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid #e4e4e4;

}

div.front-bg {
	padding-left: 0;
	padding-right: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 400px;
	border-bottom: 1px solid #e4e4e4;

}


#frontlogo {
		@include background(
			url('../img/pekka-home3.jpg') top center / cover no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#betterdoctor {
		@include background(
			url('../img/betterdoctor-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#mehilainen {
		@include background(
			url('../img/mehilainen-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#viinimaa {
		@include background(
			url('../img/viinimaa-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#matkahuolto {
		@include background(
			url('../img/matkahuolto-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#metoday {
		@include background(
			url('../img/metoday-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#mafy {
		@include background(
			url('../img/mafy-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#kluuvi {
		@include background(
			url('../img/kluuvi-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#cloudcity {
		@include background(
			url('../img/cloudcity-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#tellyo {
		@include background(
			url('../img/tellyo-logo.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #fbfbfb 0%,#f0f0f0 59%) center center / 100% 100% no-repeat );
}

#profile {
		@include background(
			url('../img/t-shape16.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #668388 0%,#587577 59%) center center / 100% 100% no-repeat );
}

#story {
		@include background(
			url('../img/story.png') center center / contain no-repeat,
			radial-gradient(center, ellipse cover,  #668388 0%,#587577 59%) center center / 100% 100% no-repeat );
}




figcaption {
	color: $color;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
	font-variant: small-caps;
	text-transform: lowercase;
	@include adjust-font-size-to(14px);
	@include rhythm(5, 0, 5, 0, 16px);
	letter-spacing: 0.1em;
	text-align: center;
		
}

div.spacer {

	height: 3em;

}
div.bg-white {
	@include background-image(linear-gradient(top, #ffffff 0%,#f4f4f4 100%));
	padding-top: 1em;

}

div.bg-grey {

@include background-image(linear-gradient(top, #efefef 0%,#f4f4f4 100%));
	padding-top: 4em;
}

div.end {

@include background-image(linear-gradient(top, #f4f4f4 0%,#ffffff 100%));
	padding-top: 1em;
	padding-bottom: 4em;
}

.storyheading {
	padding-left: 15px;
	// text-align: center;
	
	 h1 { margin-top: 0;}
	 aside {margin-top: 0; padding-top: 1em;}
}

.animate-hide.ng-hide-remove {
    -webkit-animation: fadeIn 0.6s;
    animation: fadeIn 0.6s;
    transition: all 0.4s linear;
    opacity: 0;
}


.vimeo { max-width: 1280px; margin-left: auto; margin-right: auto; }
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   FONT ICONS
   ========================================================================== */


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #fff;
	// padding-top:10px;
	// padding-bottom:10px;
}

.plain-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.menu:before {
	content: "\e001";
}

.close:before {
	content: "\e002";
}

.exp:before {
	content: "\e007";
}

.col:before {
	content: "\e008";
}

.expand { z-index: 2;}



.active {
	color: #666;
}
.active:before {
	content: "» ";
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 640px) {

  .hide-for-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: 640px) {
  #slogan1, #slogan2, #slogan3, #slogan4, #testimonial1, #testimonial2, #testimonial3 {
    padding-top: 66.666666%; // (640px / 960 px) = 66.666666%
  }
  
  	.storyheading {
	padding-left: 0;
	text-align: center;
	
	 h1 { margin-top: 0;}
	 aside {margin-top: 0; padding-top: 1em;}
}

  // COLLAPSE NAVI
 
header {
    	border-bottom: 1px solid rgba(204, 204, 204, 0.98);
      background: rgba(240,240,240,0.96);

    .active {
      background-color: rgba(255, 255, 255, 0.96);
      border-right: 1px solid rgba(220, 220, 220, 0.98);
      border-left: 1px solid rgba(220, 220, 220, 0.98);
      outline: none;

    }
    .active:before {
      content: "";
    }
  }

  nav.mainnavi {
    max-width: 1280px;
    margin: 0 auto;
    display: block !important;
   background: transparent;
    @include box-shadow(rgba(0, 0, 0, 0.0) 0px 0px 10px);

    ul li a {
      display: block;
      line-height: 60px;
      width: 100%;
      text-align: center;
      text-indent: 0px;
     // color: $link-color-inverse;

    }

    ul li {
      border-bottom: 0px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      display: inline-block;
      width: 20%;
    }

  }


  .desklogo {
    background: url("../img/ph-logo.png") center center no-repeat;
    background-size: 60px 60px;
    text-indent: -9000px !important;
  }

  header + :not(header) {
   // background: rgba(51, 51, 51, 0.96);
    padding-top: 60px;
  }

  #mobilenav {
    display: none;
    height: 60px;
  }

}


@media only screen and (min-width: 767px) {	
  html {
	  	font-size: $base-font-size * 1.14285714285714;
	  	line-height: $base-line-height * 4 * 1.14285714285714;
  }


   
.topimage {
	background-size:contain;
	padding-bottom: 56.5625%;
}
   
    img.folio  {
	  width: calc(100% - 80px);
	  border: 10px solid #fff;

  }
  
  div.bg-white {
	padding-top: 3em;

}
  
  p { text-align: justify;}

    
.maincolumn, .mainheading {
	padding: 0 20px;
	// max-width: 1280px;
	margin: 0 auto;
}
    
div.folio-bg {
	padding-top: 20%;
	margin-bottom: 2em;

}

div.front-bg {
	min-height: calc(100vh - 43px);
	margin-bottom: 2em;

}


div.content-wrapper {
	max-width: 940px;
	margin: 0 auto;	
}



div.colwrapper {
	display: table;
	border: 1px solid #ddd;
	width: 100%;
	@include border-radius(4px);
	
	u { padding-left: 0;
		text-align: left;
	}
	
	h2 { margin: 0; padding-top: 0.4em;}
	
	.listable {
		text-decoration: none;
		text-transform: lowercase;
		font-variant: small-caps;
		font-family: 'Gotham SSm A', 'Gotham SSm B';
		font-weight: 400;
		@include rhythm(0, 0, 0, 0, 32px);		
		}
		li { 
			@include rhythm(5, 0, 0, 0, 32px);
			line-height: em(18px);
		}
		
	}


div.rivi {
	display: table-row;
	
}




div.col-left {
	vertical-align: top;
	display: table-cell;
	width: 33.33%;
	padding: 10px 30px 30px 30px;
	border-right: 1px solid #ddd;
	border-top: 1px solid #ddd;
}


div.col-right {
	vertical-align: top;
	display: table-cell;
	width: 33.33%;
	padding: 10px 30px 30px 30px;
	border-top: 1px solid #ddd;

}

div.port-wrapper {
	max-width: 1280px;
	margin: 0 auto;	
	div.col-right, div.col-left {
		border: 0px solid #ddd;
	}
}


div.rowgroup {
	display: table-header-group;
	height: 30px;
	background: rgba(240,240,240,0.96);
	.col-left, .col-right {
		vertical-align: middle;
		padding: 10px 10px 10px 30px;
	}
}

.firstrow {
	border-top: 0px solid #ddd !important;
}



    
} // end media query

@media only screen and (min-width: 1280px) {
    /* Style adjustments for viewports that meet the condition */
  
  	.storyheading {

	
	 aside {padding-top: 2em;}
}
  
.topimage {
	height: 724px;
	padding-bottom: 0px;
}

  html {
	  	font-size: $base-font-size * 1.3;
	  	line-height: $base-line-height * 4 * 1.3;
  }
    
main { 
	// margin: 0 auto;
	// max-width: 1280px;
} 

div.folio-bg {
	margin-bottom: 4em;
}

div.front-bg {
	margin-bottom: 4em;
}


  img.folio  {
	  width: calc(100%);
  }


figcaption {
	color: $color;
	font-family: 'Gotham SSm A', 'Gotham SSm B'; font-weight: 400; font-style: normal;
	font-variant: small-caps;
	text-transform: lowercase;
	@include adjust-font-size-to(14px);
	@include rhythm(7, 0, 7, 0, 16px);
	letter-spacing: 0.1em;
	text-align: center;
	
	
}


div.bg-white, div.bg-grey {
	padding-top: 6em;
}






}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
