/* ==========================================================================
   FONTS
   ========================================================================== */


// MUSEO SANS COND 500 for ingress

@font-face {
	font-family: 'MuseoSansCnd';
	src:url('../fonts/MuseoSansCnd-700-webfont.eot');
	src:url('../fonts/MuseoSansCnd-700-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCnd-700-webfont.woff') format('woff'),
		url('../fonts/MuseoSansCnd-700-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSansCnd-700-webfont.svg#MuseoSansCnd') format('svg');
	font-weight: 700;
	font-style: normal;
}

// MUSEO SANS COND 700 for ingress (alternative)

@font-face {
	font-family: 'MuseoSansCnd';
	src:url('../fonts/MuseoSansCnd-500-webfont.eot');
	src:url('../fonts/MuseoSansCnd-500-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCnd-500-webfont.woff') format('woff'),
		url('../fonts/MuseoSansCnd-500-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSansCnd-500-webfont.svg#MuseoSansCnd') format('svg');
	font-weight: 500;
	font-style: normal;
}

// MUSEO SANS COND 300 for aside

@font-face {
	font-family: 'MuseoSansCnd';
	src:url('../fonts/MuseoSansCnd-300-webfont.eot');
	src:url('../fonts/MuseoSansCnd-300-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCnd-300-webfont.woff') format('woff'),
		url('../fonts/MuseoSansCnd-300-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSansCnd-300-webfont.svg#MuseoSansCnd') format('svg');
	font-weight: 300;
	font-style: normal;
}

// MUSEO SANS COND 300 for decoration

@font-face {
	font-family: 'MuseoSansCnd';
	src:url('../fonts/MuseoSansCnd-100-webfont.eot');
	src:url('../fonts/MuseoSansCnd-100-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSansCnd-100-webfont.woff') format('woff'),
		url('../fonts/MuseoSansCnd-100-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSansCnd-100-webfont.svg#MuseoSansCnd') format('svg');
	font-weight: 100;
	font-style: normal;
}


// MUSEO SANS 900 for bold text

@font-face {
	font-family: 'MuseoSans';
	src:url('../fonts/MuseoSans_900-webfont.eot');
	src:url('../fonts/MuseoSans_900-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans_900-webfont.woff') format('woff'),
		url('../fonts/MuseoSans_900-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSans_900-webfont.svg#MuseoSans') format('svg');
	font-weight: 900;
	font-style: normal;
}

// MUSEO SANS 700 for bold text

@font-face {
	font-family: 'MuseoSans';
	src:url('../fonts/MuseoSans_700-webfont.eot');
	src:url('../fonts/MuseoSans_700-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans_700-webfont.woff') format('woff'),
		url('../fonts/MuseoSans_700-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSans_700-webfont.svg#MuseoSans') format('svg');
	font-weight: 700;
	font-style: normal;
}

// MUSEO SANS 500 Italic for job title

@font-face {
	font-family: 'MuseoSans';
	src:url('../fonts/MuseoSans_500_Italic-webfont.eot');
	src:url('../fonts/MuseoSans_500_Italic-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans_500_Italic-webfont.woff') format('woff'),
		url('../fonts/MuseoSans_500_Italic-webfont.ttf') format('truetype'),
		url('../fonts/MuseoSans_500_Italic-webfont.svg#MuseoSans') format('svg');
	font-weight: 500;
	font-style: italic;
}

// MUSEO SANS DISPLAY BLACK for ad texts

@font-face {
	font-family: 'MuseoSansDisplay_Black';
	src:url('../fonts/4_MuseoSansDisplay_Black-webfont.eot');
	src:url('../fonts/4_MuseoSansDisplay_Black-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/4_MuseoSansDisplay_Black-webfont.woff') format('woff'),
		url('../fonts/4_MuseoSansDisplay_Black-webfont.ttf') format('truetype'),
		url('../fonts/4_MuseoSansDisplay_Black-webfont.svg#MuseoSansDisplay_Black') format('svg');
	font-weight: normal;
	font-style: normal;
}

// MUSEO SANS DISPLAY LIGHT for quotes

@font-face {
	font-family: 'MuseoSansDisplay_Light';
	src:url('../fonts/3_MuseoSansDisplay_Light-webfont.eot');
	src:url('../fonts/3_MuseoSansDisplay_Light-webfont?#iefix') format('embedded-opentype'),
		url('../fonts/3_MuseoSansDisplay_Light-webfont.woff') format('woff'),
		url('../fonts/3_MuseoSansDisplay_Light-webfont.ttf') format('truetype'),
		url('../fonts/3_MuseoSansDisplay_Light-webfont.svg#MuseoSansDisplay_Light') format('svg');
	font-weight: normal;
	font-style: 100;
}
