<div class="spacehead"></div>
		<div class="topimage" id="profile"></div>


<!-- <div class="topimage">
</div> -->


<div class="mainheading">
	
<!-- start content -->

<aside>You just found a T-shaped designer</aside>
<h1>Profile</h1>
</div>
<div class="maincolumn">
<summary>I'm an all-around digital designer with a strong business background. My home court is user interface, interaction, user experience and graphic design.</summary>
<p first-words>I have done various things during my working years, but user interface design and web technologies have always stayed with me. In my case, <strong>broad knowledge</strong> means good UX designer qualities and <strong>deep knowledge</strong> means that I'm specialized in web product design.</p>


<aside>More on the subject:</aside>
<ul class="lis">
	<li><a href="http://www.karelvredenburg.com/home/2013/7/20/becoming-a-t-shaped-designer">Becoming a T-Shaped Designer</a> by Karel Vredenburg</li>
	<li><a href="http://chiefexecutive.net/ideo-ceo-tim-brown-t-shaped-stars-the-backbone-of-ideoae%E2%84%A2s-collaborative-culture">T-Shaped Stars</a> &ndash; Interview of IDEO CEO Tim Brown</li>
	<li><a href="http://markdotto.com/2011/04/15/fatten-up-those-ts/">Fatten up those T's</a> by Mark Otto</li>
</ul>

<h2>Work Experience</h2>
<ul class="lis">
	<li>10 years experience in various digital media positions</li>
	<li>Please see my LinkedIn profile for complete work history or <a href="#story">read the story.</a></li>
</ul>


<h2>Education</h2>
<ul class="lis">
	<li><strong>Master of Arts in New Media</strong><br />Thesis: The Use of Storytelling in Music Artist Promotion<br />Go to the site &raquo;</li>
</ul>	

<ul class="lis">
	<li><strong>M.Sc.(Econ) in Information Systems Science</strong><br />Thesis: The Adoption of 3G Phones and Mobile Services in Different Innovation Groups<br />Download &raquo;</li>
</ul>	

<h2>Core knowledge areas</h2>
<br />
<div class="colwrapper">
<div class="rowgroup hide-for-mobile">
	<div class="col-left  firstrow">Area</div>
	<div class="col-left  firstrow">Deliverables</div>
	<div class="col-right  firstrow">Tools in use</div>
</div>	
<!-- FIRST ROW -->	
	<div class="rivi">
		<div class="col-left ">
			<h3>User Interface Design</h3>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Pixel-perfect static interfaces</li>
				<li>High-end prototypes</li>
				<li>Wireframing</li>
			</ul>
		</div>
		<div class="col-right ">
			<u>Illustrator, HTML, CSS, SASS</u>
		</div>
	</div>
	
<!-- SECOND ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h3>Interaction Design</h3>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Designing interactions for touch screens</li>
				<li>Accessible design</li>
				<li>Usability tests</li>
				<li>Forming interaction design patterns</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Illustrator, HTML, CSS, SASS</u>
		</div>
	</div>

<!-- THIRD ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h3>User Experience Design</h3>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>User tests with high and low-fidelity prototypes</li>
				<li>Identifying the business problem</li>
				<li>User flows and error handling</li>
				<li>Helping to meet the business targets</li>
				<li>Concept development</li>
				<li>Creative lead</li>
			</ul>
		</div>
		<div class="col-right">
			<u>User tests with high- and low-fidelity prototypes, communication, user feedback</u>
		</div>
	</div>

<!-- FOURTH ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h3>Graphic Design</h3>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Print materials</li>
				<li>Typography for print and web</li>
				<li>Icon design</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Illustrator, Photoshop, InDesign, photography</u>
		</div>
	</div>

<!-- FIFTH ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h3>Other Areas</h3>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Sitebuilding</li>
				<li>Video editing and production</li>
				<li>Sound design (as a hobby)</li>
				<li>Marketing</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Illustrator, Photoshop, InDesign, photography, Premiere, Logic Pro</u>
		</div>
	</div>
</div>
<br />
<h2>Leisure</h2>
<p first-words>On my freetime I like to <a href="http://crossfitcentralhelsinki.com/">do crossfit</a>, play the guitar and <a href="http://vp-s.fi/">play squash</a>.</p>
<img class="full" src="/img/hobbies-mv.jpg" alt="hobbies" />
<br />
</div>

<div style="text-align: center;">
<br />
<summary>...I should play guitar more often. <br /><br />    <a href="/contact/">How to contact me &raquo;</summary>
<br />
</div>

<!-- end content -->
</div>
