


<div class="mainheading">
	
<!-- start content

<aside>You just found a T-shaped designer</aside>
<h1>Profile</h1>
</div>
<div class="maincolumn">
<summary>I'm an all-around digital designer with a strong business background. My home court is user interface, interaction, user experience and graphic design.</summary>
<p first-words>I have done various things during my working years, but user interface design and web technologies have always stayed with me. In my case, <strong>broad knowledge</strong> means good UX designer qualities and <strong>deep knowledge</strong> means that I'm specialized in web product design.</p>
<hr />
 -->
<aside>Read my posts on Medium.com</aside>
<h1>Latest posts</h1>
<div class="tiny"><hr class="tiny"/></div>
<time class="post">March 28, 2016</a></time>
<a href="https://medium.com/@Pastori/on-agile-development-design-and-quality-27e674453479#.gem1t2bzx"><h2>On Agile development, design and quality</h2></a>
<summary>Ignoring quality can make agile development slow.</summary>
<time class="post">March 9, 2016</a></time>
<a href="https://medium.com/@Pastori/is-your-organisation-design-driven-6-point-checklist-c7d713a9755d#.8hdg0jnch"><h2>Is Your organisation design-driven? A six-point checklist</h2></a>
<summary>There’s a lot of talk about design-driven organisations and almost all the directors root for them. But what is the reality? Here’s a 6-point checklist to test, if our organisation is design-driven.</summary>
<time class="post">February 20, 2016</a></time>
<a href="https://medium.com/@Pastori/applying-design-in-unexpected-places-a2975c4a649a#.xehqcu8pp" ><h2>Applying design to unexpected places</h2></a>
<summary>Case Oppex: making public procurement sexy.</summary>
<time class="post">July 14, 2015</a></time>
<a href="https://medium.com/p/90164689bdc4" ><h2>Why would an unicorn work for you?</h2></a>
<summary>The funny thing about startup (and other) CEOs is that they think the product and problem space they are providing to a designer candidate is remarkably interesting..</summary>
<p></p>


<br />
<br />
<!-- end content -->
</div>
