
<div class="topimage">
</div>


<div class="mainheading">
<!-- start content -->

<aside>You found a T-curve guy</aside>
<h1>Profile</h1>
</div>
<div class="maincolumn">
<summary>I'm an all-around digital designer with a strong business background. My home court is user interface, interaction, user experience and graphic design.</summary>
<p first-words>I have done various things during my working years, but user interface design and web technologies have always stayed with me.</p>

<div class="colwrapper">
<div class="rowgroup">
	<div class="col-left  firstrow">Area</div>
	<div class="col-left  firstrow">Deliverables</div>
	<div class="col-right  firstrow">Tools in use</div>
</div>	
<!-- FIRST ROW -->	
	<div class="rivi">
		<div class="col-left ">
			<h2>User Interface Design</h2>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Pixel-perfect static interfaces</li>
				<li>High-end prototypes</li>
				<li>Wireframing</li>
			</ul>
		</div>
		<div class="col-right ">
			<u>Tools in Use: &nbsp; Illustrator, HTML, CSS, SASS</u>
		</div>
	</div>
	
<!-- SECOND ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h2>Interaction Design</h2>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Designing interactions for touch screens</li>
				<li>Accessible design</li>
				<li>Usability tests</li>
				<li>Forming interaction design patterns</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Tools in Use: &nbsp; Illustrator, HTML, CSS, SASS</u>
		</div>
	</div>

<!-- THIRD ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h2>User Experience Design</h2>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>User tests with high and low-fidelity prototypes</li>
				<li>Identifying the business problem</li>
				<li>User flows and error handling</li>
				<li>Helping to meet the business targets</li>
				<li>Concept development</li>
				<li>Creative lead</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Tools in Use: &nbsp; User tests with high- and low-fidelity prototypes, communication, user feedback</u>
		</div>
	</div>

<!-- FOURTH ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h2>Graphic Design</h2>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Print materials</li>
				<li>Typography for print and web</li>
				<li>Icon design</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Tools in Use: &nbsp; Illustrator, Photoshop, InDesign, photography</u>
		</div>
	</div>

<!-- FIFTH ROW -->	
	<div class="rivi">
		<div class="col-left">
			<h2>In addition:</h2>
		</div>
		<div class="col-left">
			<ul class="listable">
				<li>Sitebuilding</li>
				<li>Video editing and production</li>
				<li>Sound design (as a hobby)</li>
				<li>Marketing</li>
			</ul>
		</div>
		<div class="col-right">
			<u>Tools in Use: &nbsp; Illustrator, Photoshop, InDesign, photography</u>
		</div>
	</div>
</div>
</div>

<br />
<img src="/img/pekka-test.png" alt="pekka" />

<!-- end content -->
</div>
