	<ul rn-carousel rn-carousel-indicator rn-carousel-control  class="my-slider standard ng-cloak" id="test6" msd-wheel="test6($event, $delta, $deltaX, $deltaY)"><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="mehilainen"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
		


            
 <div>            
<h1>Mehiläinen</h1>


<summary>The appointment scheduling system of Mehiläinen was outdated and they needed a new, flexible system which would work in both desktop and mobile.</summary>
	
<h2>Description</h2>
<p first-words>The Mehiläinen Group is the best-known provider of private health care and social services in Finland. Currently, Mehiläinen's nationwide service network of privately funded health services consists of a total of 27 medical centres, occupational health centres which augment the service network, and 9 hospitals.</p>

<h2>Starting point</h2>
<p first-words>The old appointment scheduling and nearly all the benchmarked services had step-by-step funnels. Instead of settling to status quo, we decided to do go the extra mile and do a completely new approach to shorten the path to successful online reservation. A lot of effor was put in special case handling &ndash; the basic scenario was relative simple, but all the exceptions to the flow were designed carefully as well.</p>
<h2>The Outcome</h2>
<p first-words>The reservation flow of the appointment system was redesigned in cooperation with Mehilainen crew – both for private  and occupational-health customers.
<p>Instead of having an infexible 5-step reservation funnel like their competitor the system was designed to be flexible to filter search results based on customers' preferences and in a map view. The appointments can be scheduled on a single page after clicking the booking button.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/mehilainen-1.png" alt="Mehiläinen Appointment Scheduling">
<figcaption>Landing page for desktop</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/mehilainen-2.png" alt="Mehiläinen Appointment Scheduling Map View">
<figcaption>Expanded map view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/mehilainen-3.png" alt="Appointment confirmation view">
<figcaption>Reservation confirmation</figcaption>
</div>



	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/mehilainen-mobile-1.png" alt="Mobile view">
			<figcaption>Mobile Landing</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/mehilainen-mobile-2.png" alt="Mobile view">
			<figcaption>Confirmation page</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/mehilainen-mobile-3.png" alt="Mobile view">
<figcaption>Calendar view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="https://ajanvaraus.mehilainen.fi/?language=en">Mehiläinen Appoinment Scheduling</a></p>
					<p>Agency: Idean</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span></u>
		</div>
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="tellyo"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Tellyo</h1>
<summary>Design lead for a social TV startup</summary>
	
<h2>Description</h2>
<p first-words>Tellyo is a social TV startup – with their mobile app viewers can capture short video clips from television and instantly share TV moments to their friends in social media.</p>

<h2>Starting point</h2>
<p first-words>Founded in 2012, Tellyo had released a beta version of their app, but lacked resources both in user interface design and marketing. I was hired to bring the design thinking to the company and to deliver updated designs on their product and marketing presence.</p>
<h2>The Outcome</h2>
<p first-words>I redesigned Tellyo's consumer and business customers' website and optimized the user interface of the app for mobile use. The new web presence and image helped to attract talented employees onboard for the growing startup. </p>
</div>


<div class="bg-white">
<img class="folio" src="img/abouttellyo1.png" alt="Tellyo Company Site">
<figcaption>Tellyo Company site</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/tellyo1.png" alt="Tellyo – Social TV">
<figcaption>Watch video view</figcaption>
</div>



<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/abouttellyo-mobile1.png" alt="Tellyo - Team page">
			<figcaption>Press &amp; Media</figcaption>
		</div>
		<div class="col-left noborder">
				<img class="full" src="img/abouttellyo-mobile3.png" alt="Tellyo - Careers">
<figcaption>Recruitment page</figcaption>
		</div>
		<div class="col-right noborder">
					<img class="full" src="img/tellyo-mobile1.png" alt="Mobile view">
			<figcaption>Web app, video view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>





	



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="https://about.tellyo.com	">Tellyo.com</a></p>
					<p><a href="https://about.tellyo.com	">Tellyo Company site</a></p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span><span class="uid">Frontend</span><span class="uid">Photography</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
	<div class="folio-bg" id="betterdoctor"></div>
	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
<div>
	<h1>BetterDoctor</h1>
	<summary>BetterDoctor needed help designing an easy and attractive way of signing up new doctors to the service.</summary>
	
	
<h2>Description</h2>
<p first-words>BetterDoctor is a comprehensive doctor search tool that brings transparency to healthcare. The company was founded in 2011 and since the launch in late 2012 BetterDoctor web and mobile apps have helped millions of patients to find the right doctor.</p>

<h2>Starting point</h2>
<p first-words>BetterDoctor needed help designing an easy and attractive way of signing up new doctors to the service. They lacked an in-house designer, so they also preferred an user interface update on their website.</p>
<h2>The Outcome</h2>
<p first-words>I designed the flow, user interface and graphics for their doctor sign-up in close cooperation with the CEO. I also made brand new views for their main website, such as doctor profiles and front page. The new interfaces improved the perception of the service and helped the company to sign up more doctors on their way to give the best experience for doctor search and ranking in the US.
<p>So far this has been the only design by me that has been featured live on Fox :)</p>
</div>
<!-- <div class="spacer"></div> -->
<div class="bg-white">
<img class="folio" src="img/bd_signupflow_000_panel0-landing-page.png" alt="BetterDoctor sign-up">
<figcaption>Landing page for new doctors</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_002_panel2-bio.png" alt="BetterDoctor sign-up">
<figcaption>A view from the sign-up flow</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_008_panel3-new-practice-wire.png" alt="BetterDoctor sign-up">
<figcaption>Practice details view wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_008_panel3-new-practice-active.png" alt="BetterDoctor sign-up">
<figcaption>Practice details view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_009_panel4-share.png" alt="BetterDoctor share">
<figcaption>New BetterDoctor profile claimed</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_doctor-edit-profile.jpg" alt="BetterDoctor – Edit Profile">
<figcaption>Edit doctor profile view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_frontpage.jpg" alt="BetterDoctor – Front page">
<figcaption>Landing page</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_doctor-public-profile.jpg" alt="BetterDoctor – Doctor profile">
<figcaption>Public doctor profile</figcaption>
</div>




<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="http://techcrunch.com/2012/09/10/betterdoctor-launch/">TechCrunch: BetterDoctor Launches To Help You Find The Best Available Care Near You</p>
					<p><a href="https://www.youtube.com/watch?v=FncQ5bAMABk&t=0m56s">BetterDoctor CEO Ari Tulla interview on FOX</a></p>
					<p>Agency: Idean</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span></u>
		</div>
		<br style="clear:both;" />
	</div>
</div>

</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="viinimaa"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Viinimaa</h1>
<summary>Viinimaa wanted a new and fresh communication channel and product search for wine enthuastics.</summary>
	
<h2>Description</h2>
<p first-words>Altia Oyj is a Finnish state-owned corporation based in Helsinki, which produces, imports, exports and markets alcoholic beverages. Viinimaa is their communication channel for wine hobbyists and buyers.</p>

<h2>Starting point</h2>
<p first-words>Altia's website for wine enthusiasts viinimaa.fi was outdated both layout and content-wise. The client wanted to communicate their wine selection by making wine search easy &ndash; weather it is a certain bottle or recommendation for food recipe.</p>
<h2>The Outcome</h2>
<p first-words>The user interface was completely redesigned to make product search easier and the website was optimized for different screen sizes. Concept-wise, the rich content with beautiful images help the visitors to come up with new ideas – whether it is trying a new wine or making a new recipe.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/viinimaa1.jpg" alt="Home page">
<figcaption>Home page</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/viinimaa2.jpg" alt="Home page wireframe">
<figcaption>Home page wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/viinimaa4.jpg" alt="Product finder wireframe">
<figcaption>Product finder wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/viinimaa3.jpg" alt="Product finder">
<figcaption>Product finder</figcaption>
</div>


	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/viinimaa-mobile1.png" alt="Home, mobile view">
			<figcaption>Mobile Landing</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/viinimaa-mobile2.png" alt="Product finder">
			<figcaption>Product finder</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/viinimaa-mobile3.png" alt="Article page">
<figcaption>Article view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="http://www.viinimaa.fi">Viinimaa.fi</a></p>
					<p><a href="https://dribbble.com/MarjaanaHuitila">Marjaana Huitila on Dribbble</a> (Graphic&nbsp;Designer)</p>
					<p>Agency: Idean</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 1 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="matkahuolto"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Matkahuolto</h1>
<summary>Concept and UI for super simple and usable journey planner utilising location data for iPhone.</summary>
	
<h2>Description</h2>
<p first-words>Matkahuolto provides bus services that cover the entire country of Finland via a comprehensive system of bus terminals comprised of Matkahuolto service outlets and their equivalents, as run by certified Matkahuolto agents and other joint partners.</p>

<h2>Starting point</h2>
<p first-words>Matkahuolto was looking mobile journey planner for consumers. They had journey planner online, but it was cumbersome to use and lacked mobile optimization. </p>
<h2>The Outcome</h2>
<p first-words>The goal was to make journey planning as straightforward as possible with a native app for frequent and occasional trips. To reduce extra input the app utilised both location data and recent trips. The frequent trips were designed to be accessed with a single click via customised home screen.</p>
<p>The end result was a concept for super simple journey planner with rich gestures and an option for ticket purchases.</p>
</div>

<div class="bg-white">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/matkahuolto0.png" alt="Home Screen">
			<figcaption>Home Screen</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/matkahuolto1.png" alt="Favourites">
			<figcaption>Favourites</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/matkahuolto3.png" alt="Map view">
<figcaption>Route view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>


<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p>Agency: Idean</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="ixd">Interaction Design</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>


<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="metoday"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>MeToday</h1>
<summary>In-house user interface and graphic design for San Francisco based startup.</summary>
	
<h2>Description</h2>
<p first-words>Ditto was company behind intention sharing app with the same name, founded by Jyri Engeström. I was hired as designer to the fast-iterating startup team.</p>

<h2>Starting point</h2>
<p first-words>Lacking an in-house designer I jumped in to a fast-moving train to design interfaces and interaction patterns for a ditto spin-off, a new photo-sharing app. The aim was to serve both desktop and mobile users with rich interactions.</p>
<h2>The Outcome</h2>
<p first-words>We developed a both usable and playful app for personal photo sharing with very fast product development cycles.  The company was acquired by Groupon.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/metoday1.png" alt="Mehiläinen Appointment Scheduling">
<figcaption>Photo board</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/metoday2.png" alt="Mehiläinen Appointment Scheduling Map View">
<figcaption>Polaroid frames</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/metoday4.png" alt="Albums view">
<figcaption>Albums view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/metoday3.png" alt="Appointment confirmation view">
<figcaption>Graphic guidelines</figcaption>
</div>




	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/metoday-mobile1.png" alt="Home view">
			<figcaption>Home view</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/metoday-mobile2.png" alt="Browse photos">
			<figcaption>Browse photos</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/metoday-mobile3.png" alt="Navigation">
<figcaption>Side navigation</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper" style="border-top: 1px solid #ddd; text-align: center;">
		<br />
				<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="grd">Graphic Design</span><span class="ixd">Interaction Design</span></u>
		<br style="clear:both;" />
	</div>

</div>		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="mafy"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>MAFY</h1>
<summary>Full stack &ndash; web, print, video and digital marketing for a coaching company.</summary>
	
<h2>Description</h2>
<p first-words>MAFY-valmennus is a coaching company for students taking matriculation and entrance examinations. They have successfully challenged bigger competitors and grown on an amazing speed to be one of the leading coaching providers on their field.</p>

<h2>Starting point</h2>
<p first-words>MAFY-valmennus had high-quality courses, but they were lacking a visual identity had trouble communicating the quality online for potential customers. The client wanted to leap forward in both online sales and company image.</p>
<h2>The Outcome</h2>
<p first-words>The website was redesigned and the content was made airtight according to the client's ”no-nonsense” philosophy, which has already helped hundreds of students to reach their goals. The registration funnel, useful content and student video statements were special focus areas.</p>
<p>MAFY-valmennus keeps on growing with a tremendous record in entrance examinations.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/mafy1.png" alt="MAFY Home">
<figcaption>Home page</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/mafy4.png" alt="Register">
<figcaption>Sign up page</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/mafy6.png" alt="Guidelines for Print">
<figcaption>Guidelines for Print</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/mafy5.png" alt="Vimeo site">
<figcaption>Video interviews</figcaption>
</div>

<div class="bg-grey">
<div class="videodiv">
	<div class='embed-container'><iframe src='http://player.vimeo.com/video/109902391' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
	<figcaption>Marketing video</figcaption>

</div>
</div>






	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/mafy-mobile1.png" alt="Test answers">
			<figcaption>Exam answers</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/mafy-mobile2.png" alt="Testimonials">
			<figcaption>Testimonials</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/mafy-mobile3.png" alt="Mobile banners">
<figcaption>Mobile banners</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="http://mafyvalmennus.fi/">MAFY website</a></p>
					<p><a href="http://vimeo.com/channels/mafy">MAFY interview videos on Vimeo</a></p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span><span class="uid">Video</span><span class="uid">Photography</span><span class="uid">Frontend</span><span class="uid">Backend</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="kluuvi"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Kluuvi</h1>
<summary>The shopping center transformed &ndash; also in digital channels</summary>
	
<h2>Description</h2>
<p first-words>Set within the walls of what used to be the Elanto department store in the 1950s, the turnaround of Kluuvi will offer a unique market place in central Helsinki. The re-launch and grand opening of the was to take place in autumn 2011.
</p>

<h2>Starting point</h2>
<p first-words>As a part of complete rebranding and department store reconstruction the online presence of Kluuvi needed a boost. The client was looking for high-end and visually rich website to present the retailers.</p>
<h2>The Outcome</h2>
<p first-words>As a part of a larger campaign Kluuvi got a corerent and visually rich online showcase for during the transition phase.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/kluuvi1.png" alt="Kluuvi redesign">
<figcaption>Website home</figcaption>
</div>





	



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="http://blog.visithelsinki.fi/en/an-urban-utopian-world-will-open-to-the-public-as-the-renewed-shopping-center-kluuvi-where-the-50%E2%80%99s-meet-the-future-in-a-new-modern-meeting-place/">Kluuvi opening on Visit Helsinki Blog</a></p>
					<p><a href="http://www.lauriahonen.fi/">Lauri Ahonen</a>, visual design</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uid">Frontend</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="cloudcity"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Cloud City</h1>
<summary>Online presence for an ambitious architecture project.</summary>
	
<h2>Description</h2>
<p first-words>Cloud City is an ambitious and modern residential and commercial building planned in the middle of Merikortteli block in Punavuori, Helsinki. It is an unique example of modern urban architecture
</p>

<h2>Starting point</h2>
<p first-words>To back up the excellent work of architectures the client was looking for top-notch material to raise awareness of the plan.</p>
<h2>The Outcome</h2>
<p first-words>We created online presence with illustrative diagrams and text content to support the project. The application was submitted to the City Planning Department for a town plan change to allow supplementary construction. </p>
</div>


<div class="bg-white">
<img class="folio" src="img/cloudcity1.png" alt="Cloud City">
<figcaption>Website</figcaption>
</div>


<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>More info</h3>
				<div class="lis">
					<p><a href="http://www.archdaily.com/116350/cloud-city-ala-architects/">Cloud City on Arch Daily</a></p>
					<p><a href="http://www.lauriahonen.fi/">Lauri Ahonen</a>, visual design</p>
				</div>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uid">Copywriting</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li>
</ul>
<!-- <li ng-style="{'background-color': rgb(255,0,255)}">
            
            
            
            
             <h2>Slide 3</h2>
                carouselIndex: {{ carouselIndex }}
                <br />
                indicatorIndex: {{ indicatorIndex }}
                <br />
                {{ carouselBufferIndex }}
                <br />
                {{ transforms }}
                <a href="" ng-click="goToSlide();">test</a>
            <p ph-txt="4s8p"></p>
            </li><li ng-style="{'background-color': rgb(192,192,192)}">
                And to finish :
                </div>
                
               </li> -->
                

        
			
	<!--		<script>
	/*if(window.devicePixelRatio !== undefined) {
    dpr = window.devicePixelRatio;
		} else {
    dpr = 1;
		}		
		
	*/	
  var theHeight = ($(window).height() - 44);
//  $('body').css({'height' : '444px'});
  // var realHeight = (theHeight * dpr);
  // var cssHeight = realHeight + 'px' + ' !important';
  
  
  
 
  
	       // console.log(cssHeight);
				</script> 
	<!--		rn-carousel-index="3" -->
	<!-- carouselIndex: {{ carouselIndex }} 
	
	