<img ph-img="1280x720" style="max-height: 360px; width: 100%;"/> 
		<div class="maincolumn">
		<aside>The latest tweet</aside>
		
		<div twitter-timeline="465156351153291265" auto-resize="true" css-url="css/jotain.css" data-tweet-limit="1">Loading tweets...</div>
	
		</div>
		<div class="mainheading">
		<aside style="margin-top: 0;">Featured case</aside>
		<h1>BetterDoctor this is a long heading testing this now</h1>
		</div>
		<div class="maincolumn">
		
		<summary>Morbi quam velit, vestibulum sed augue nec, dignissim accumsan velit. Aenean neque urna, dictum vitae lorem ac, tincidunt hendrerit magna etiam ut nisl</summary>
		<p first-words>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="/#/view2">This is a link</a> Morbi quam velit, vestibulum sed augue nec, dignissim accumsan velit. Aenean neque urna, dictum vitae lorem ac, tincidunt hendrerit magna etiam ut nisl ac.</p>
		<!--testing view -->
		
		<!-- testing view ends -->
		
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<img ph-img="720x480"/>
		<p ph-txt="2s"></p>
		<h2>BetterDoctor this is a long heading testing this now</h2>
		<p ph-txt="4s"></p>
		<p ph-txt="2s"></p>
		<ul>
		<li>First thing</li>
		<li>second thing this is a long heading testing  <a href="#">this is a long</a> heading testing  this is a long heading testing </li>
		<li>third thing</li>
		</ul>
		<p first-words ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<h2>BetterDoctor this is a long heading testing this now long heading testing this now</h2>
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<h3>BetterDoctor this is a long heading testing </h3>
		<p ph-txt="2s"></p>
</div>		