
<div class="topimage">
</div>


<div class="mainheading">
<!-- start content -->

<aside>You found a T-curve guy</aside>
<h1>Profile</h1>
</div>
<div class="maincolumn">
<summary>I'm an all-around digital designer with a strong business background. My home court is user interface, interaction, user experience and graphic design.</summary>
<p first-words>I have done various things during my working years, but user interface design and web technologies have always stayed with me.</p>

<div class="colwrapper">
	<div class="test">
		<div class="col-left">

	
<!-- UI DESIGN -->
<h2>User Interface Design</h2>
<ul class="lis">
	<li>Pixel-perfect static interfaces</li>
	<li>High-end prototypes</li>
	<li>Wireframing</li>
</ul>

<div class="content-wrapper">
	<u>Tools in Use: &nbsp; Illustrator, HTML, CSS, SASS</u>
	<br style="clear:both;" />
</div>


		</div>
		<div class="col-right">


<!-- INTERACTION DESIGN -->		
<h2>Interaction Design</h2>
<ul class="lis">
	<li>Designing interactions for touch screens</li>
	<li>Accessible design</li>
	<li>Usability tests</li>
	<li>Forming interaction design patterns</li>
</ul>

<div class="content-wrapper">
	<u>Tools in Use: &nbsp; Illustrator, HTML, CSS, SASS</u>
	<br style="clear:both;" />
</div>


		</div>
	</div>
	<div class="test">
		<div class="col-left">


<!-- UX DESIGN -->		
<h2>User Experience Design</h2>
<ul class="lis">
	<li>User tests with high and low-fidelity prototypes</li>
	<li>Identifying the business problem</li>
	<li>User flows and error handling</li>
	<li>Helping to meet the business targets</li>
	<li>Concept development</li>
	<li>Creative lead</li>
</ul>

<div class="content-wrapper">
	<u>Tools in Use: &nbsp; User tests with high- and low-fidelity prototypes, communication, user feedback</u>
	<br style="clear:both;" />
</div>


		</div>
		<div class="col-right">

<!-- GRAPHIC DESIGN -->		
<h2>Graphic Design</h2>
<ul class="lis">
	<li>Print materials</li>
	<li>Typography for print and web</li>
	<li>User flows and error handling</li>
	<li>Icon design</li>
</ul>

<div class="content-wrapper">
	<u>Tools in Use: &nbsp; Illustrator / Photoshop / InDesign, photography</u>
	<br style="clear:both;" />
</div>

		</div>
	</div>
</div>



<!-- IN ADDITION -->		
<h2>In addition:</h2>
<ul class="lis">
	<li>Sitebuilding</li>
	<li>Video editing and production</li>
	<li>Sound design (as a hobby)</li>
	<li>Marketing</li>
</ul>

<div class="content-wrapper">
	<u>Tools in Use: &nbsp; Illustrator / Photoshop / InDesign, photography</u>
	<br style="clear:both;" />
</div>




<br />
<img src="/img/pekka-test.png" alt="pekka" />

<!-- end content -->
</div>
