


<div class="mainheading">
	
<!-- start content

<aside>You just found a T-shaped designer</aside>
<h1>Profile</h1>
</div>
<div class="maincolumn">
<summary>I'm an all-around digital designer with a strong business background. My home court is user interface, interaction, user experience and graphic design.</summary>
<p first-words>I have done various things during my working years, but user interface design and web technologies have always stayed with me. In my case, <strong>broad knowledge</strong> means good UX designer qualities and <strong>deep knowledge</strong> means that I'm specialized in web product design.</p>
<hr />
 -->
<aside>Read my posts on Medium.com</aside>
<h1>Latest posts</h1>
<div class="tiny"><hr class="tiny"/></div>
<time class="post">July 14, 2015</a></time>
<a href=" medium://medium.com/p/90164689bdc4"><h2>Why would an unicorn work for you?</h2></a>
<summary>The funny thing about startup (and other) CEOs is that they think the product and problem space they are providing to a designer candidate is remarkably interesting...</summary>

<p></p>


<br />
<br />
<!-- end content -->
</div>
