	<ul rn-carousel rn-carousel-indicator rn-carousel-control  class="my-slider standard ng-cloak"><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="metoday"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>MeToday</h1>
<summary>In-house user interface and graphic design for San Francisco based startup.</summary>
	
<h2>Description</h2>
<p first-words>Ditto was company behind intention sharing app with the same name, founded by Jyri Engeström. I was hired as designer to the fast-iterating startup team.</p>

<h2>Starting point</h2>
<p first-words>Lacking an in-house designer I jumped in to a fast-moving train to design interfaces and interaction patterns for a ditto spin-off, a new photo-sharing app. The aim was to serve both desktop and mobile users with rich interactions.</p>
<h2>The Outcome</h2>
<p first-words>We developed a both usable and playful app for personal photo sharing with very fast product development cycles.  The company was acquired by Groupon.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/metoday1.png" alt="Mehiläinen Appointment Scheduling">
<figcaption>Photo board</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/metoday2.png" alt="Mehiläinen Appointment Scheduling Map View">
<figcaption>Polaroid frames</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/metoday4.png" alt="Albums view">
<figcaption>Albums view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/metoday3.png" alt="Appointment confirmation view">
<figcaption>Graphic guidelines</figcaption>
</div>




	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/metoday-mobile1.png" alt="Home view">
			<figcaption>Home view</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/metoday-mobile2.png" alt="Browse photos">
			<figcaption>Browse photos</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/metoday-mobile3.png" alt="Navigation">
<figcaption>Side navigation</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper" style="border-top: 1px solid #ddd; text-align: center;">
		<br />
				<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="grd">Graphic Design</span><span class="ixd">Interaction Design</span></u>
		<br style="clear:both;" />
	</div>

</div>		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
	<div class="folio-bg" id="betterdoctor"></div>
	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
<div>
	<h1>BetterDoctor</h1>
	<summary>BetterDoctor needed help designing an easy and attractive way of signing up new doctors to the service.</summary>
	
	
<h2>Description</h2>
<p first-words>BetterDoctor is a comprehensive doctor search tool that brings transparency to healthcare. The company was founded in 2011 and since the launch in late 2012 BetterDoctor web and mobile apps have helped millions of patients to find the right doctor.</p>

<h2>Starting point</h2>
<p first-words>BetterDoctor needed help designing an easy and attractive way of signing up new doctors to the service. They lacked an in-house designer, so they also preferred an user interface update on their website.</p>
<h2>The Outcome</h2>
<p first-words>I designed the flow, user interface and graphics for their doctor sign-up in close cooperation with the CEO. I also made brand new views for their main website, such as doctor profiles and front page. The new interfaces improved the perception of the service and helped the company to sign up more doctors on their way to give the best experience for doctor search and ranking in the US.
<p>So far this has been the only design by me that has been featured live on Fox :)</p>
</div>
<!-- <div class="spacer"></div> -->
<div class="bg-white">
<img class="folio" src="img/bd_signupflow_000_panel0-landing-page.png" alt="BetterDoctor sign-up">
<figcaption>Landing page for new doctors</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_002_panel2-bio.png" alt="BetterDoctor sign-up">
<figcaption>A view from the sign-up flow</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_008_panel3-new-practice-wire.png" alt="BetterDoctor sign-up">
<figcaption>Practice details view wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_008_panel3-new-practice-active.png" alt="BetterDoctor sign-up">
<figcaption>Practice details view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_signupflow_009_panel4-share.png" alt="BetterDoctor share">
<figcaption>New BetterDoctor profile claimed</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_doctor-edit-profile.jpg" alt="BetterDoctor – Edit Profile">
<figcaption>Edit doctor profile view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_frontpage.jpg" alt="BetterDoctor – Front page">
<figcaption>Landing page</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/bd_doctor-public-profile.jpg" alt="BetterDoctor – Doctor profile">
<figcaption>Public doctor profile</figcaption>
</div>




<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>Links</h3>
				<ul class="lis">
					<li><a href="http://techcrunch.com/2012/09/10/betterdoctor-launch/">TechCrunch: BetterDoctor Launches To Help You Find The Best Available Care Near You</li>
					<li><a href="https://www.youtube.com/watch?v=FncQ5bAMABk&t=0m56s">BetterDoctor CEO Ari Tulla interview on FOX</a></li>
				</ul>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span></u>
		</div>
		<br style="clear:both;" />
	</div>
</div>

</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="mehilainen"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Mehiläinen</h1>
<summary>The appointment scheduling system of Mehiläinen was outdated and they needed a new, flexible system which would work in both desktop and mobile.</summary>
	
<h2>Description</h2>
<p first-words>The Mehiläinen Group is the best-known provider of private health care and social services in Finland. Currently, Mehiläinen's nationwide service network of privately funded health services consists of a total of 27 medical centres, occupational health centres which augment the service network, and 9 hospitals.</p>

<h2>Starting point</h2>
<p first-words>The old appointment scheduling and nearly all the benchmarked services had step-by-step funnels. Instead of settling to status quo, we decided to do go the extra mile and do a completely new approach to shorten the path to successful online reservation. A lot of effor was put in special case handling &ndash; the basic scenario was relative simple, but all the exceptions to the flow were designed carefully as well.</p>
<h2>The Outcome</h2>
<p first-words>The reservation flow of the appointment system was redesigned in cooperation with Mehilainen crew – both for private  and occupational-health customers.
<p>Instead of having an infexible 5-step reservation funnel like their competitor the system was designed to be flexible to filter search results based on customers' preferences and in a map view. The appointments can be scheduled on a single page after clicking the booking button.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/mehilainen-1.png" alt="Mehiläinen Appointment Scheduling">
<figcaption>Landing page for desktop</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/mehilainen-2.png" alt="Mehiläinen Appointment Scheduling Map View">
<figcaption>Expanded map view</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/mehilainen-3.png" alt="Appointment confirmation view">
<figcaption>Reservation confirmation</figcaption>
</div>



	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/mehilainen-mobile-1.png" alt="Mobile view">
			<figcaption>Mobile Landing</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/mehilainen-mobile-2.png" alt="Mobile view">
			<figcaption>Confirmation page</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/mehilainen-mobile-3.png" alt="Mobile view">
<figcaption>Calendar view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>Links</h3>
				<ul class="lis">
					<li><a href="https://ajanvaraus.mehilainen.fi/?language=en">Mehiläinen Appoinment Scheduling</a></li>
				</ul>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="grd">Graphic design</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="viinimaa"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Viinimaa</h1>
<summary>Viinimaa wanted a new and fresh communication channel and product search for wine enthuastics.</summary>
	
<h2>Description</h2>
<p first-words>Altia Oyj is a Finnish state-owned corporation based in Helsinki, which produces, imports, exports and markets alcoholic beverages. Viinimaa is their communication channel for wine hobbyists and buyers.</p>

<h2>Starting point</h2>
<p first-words>Altia's website for wine enthusiasts viinimaa.fi was outdated both layout and content-wise. The client wanted to communicate their wine selection by making wine search easy &ndash; weather it is a certain bottle or recommendation for food recipe.</p>
<h2>The Outcome</h2>
<p first-words>The user interface was completely redesigned to make product search easier and the website was optimized for different screen sizes. Concept-wise, the rich content with beautiful images help the visitors to come up with new ideas – whether it is trying a new wine or making a new recipe.</p>
</div>


<div class="bg-white">
<img class="folio" src="img/viinimaa1.jpg" alt="Home page">
<figcaption>Home page</figcaption>
</div>


<div class="bg-grey">
<img class="folio" src="img/viinimaa2.jpg" alt="Home page wireframe">
<figcaption>Home page wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/viinimaa4.jpg" alt="Product finder wireframe">
<figcaption>Product finder wireframe</figcaption>
</div>

<div class="bg-grey">
<img class="folio" src="img/viinimaa3.jpg" alt="Product finder">
<figcaption>Product finder</figcaption>
</div>


	
<div class="bg-grey">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/viinimaa-mobile1.png" alt="Home, mobile view">
			<figcaption>Mobile Landing</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/viinimaa-mobile2.png" alt="Product finder">
			<figcaption>Product finder</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/viinimaa-mobile3.png" alt="Article page">
<figcaption>Article view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper">
		<div class="col-left">
			<br />
			<h3>Links</h3>
				<ul class="lis">
					<li><a href="http://www.viinimaa.fi">Viinimaa.fi</a></li>
					<li><a href="https://dribbble.com/MarjaanaHuitila">Marjaana Huitila on Dribbble</a> (Graphic&nbsp;Designer)</li>
				</ul>
		</div>
		<div class="col-right">
			<br />
			<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span></u>
		</div>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 1 ends -->            
</li><li ng-style="">
<!-- slide 2 starts -->            
		<div class="folio-bg" id="matkahuolto"></div>

	<div class="maincolumn" style="padding: 0;" hm-drag-up="draggedup($event)" hm-drag-down="draggeddown($event)">
            
 <div>            
<h1>Matkahuolto</h1>
<summary>Concept and UI for super simple and usable journey planner utilising location data for iPhone.</summary>
	
<h2>Description</h2>
<p first-words>Matkahuolto provides bus services that cover the entire country of Finland via a comprehensive system of bus terminals comprised of Matkahuolto service outlets and their equivalents, as run by certified Matkahuolto agents and other joint partners.</p>

<h2>Starting point</h2>
<p first-words>Matkahuolto was looking mobile journey planner for consumers. They had journey planner online, but it was cumbersome to use and lacked mobile optimization. </p>
<h2>The Outcome</h2>
<p first-words>The goal was to make journey planning as straightforward as possible with a native app for frequent and occasional trips. To reduce extra input the app utilised both location data and recent trips. The frequent trips were designed to be accessed with a single click via customised home screen.</p>
<p>The end result was a concept for super simple journey planner with rich gestures and an option for ticket purchases.</p>
</div>

<div class="bg-white">
	<div class="port-wrapper">
		<div class="col-left noborder">
			<img class="full" src="img/matkahuolto0.png" alt="Home Screen">
			<figcaption>Home Screen</figcaption>
		</div>
		<div class="col-left noborder">
			<img class="full" src="img/matkahuolto1.png" alt="Favourites">
			<figcaption>Favourites</figcaption>
		</div>
		<div class="col-right noborder">
			<img class="full" src="img/matkahuolto3.png" alt="Map view">
<figcaption>Route view</figcaption>
		</div>
		<br style="clear:both;" />
	</div>

</div>



<div class="end">
	<div class="content-wrapper" style="border-top: 1px solid #ddd; text-align: center;">
		<br />
				<h3>Keywords</h3> 
			<u><span class="uid">UI Design</span><span class="uxd">UX Design</span><span class="ixd">Interaction Design</span></u>
		<br style="clear:both;" />
	</div>

</div>
<!-- slide 2 ends -->            
</li><li ng-style="{'background-color': rgb(255,0,255)}">
            
            
            
            
             <h2>Slide 3</h2>
                carouselIndex: {{ carouselIndex }}
                <br />
                indicatorIndex: {{ indicatorIndex }}
                <br />
                {{ carouselBufferIndex }}
                <br />
                {{ transforms }}
                <a href="" ng-click="goToSlide();">test</a>
            <p ph-txt="4s8p"></p>
            </li><li ng-style="{'background-color': rgb(192,192,192)}">
                And to finish :
                </div>
               </li>
                
        </ul>
        
			
			<script>
	/*if(window.devicePixelRatio !== undefined) {
    dpr = window.devicePixelRatio;
		} else {
    dpr = 1;
		}		
		
	*/	
  var theHeight = ($(window).height() - 44);
//  $('body').css({'height' : '444px'});
  // var realHeight = (theHeight * dpr);
  // var cssHeight = realHeight + 'px' + ' !important';
  
  
  
 
  
	       // console.log(cssHeight);
				</script> 
	<!--		rn-carousel-index="3" -->
	<!-- carouselIndex: {{ carouselIndex }} -->
	
	