			
			<div class="maincolumn" style="padding: 0;" >
			 <ul rn-carousel rn-carousel-indicator rn-carousel-control  class="my-slider standard ng-cloak">
            <li ng-style="{'background-color': '#ccc'}">
                <h2>Testing</h2>
                <p ph-txt="4s20p"></p>
                <p>Last </p>
            </li><li ng-style="{'background-color': 'red'}">
            <h2>Slide 2</h2>
            <p ph-txt="4s30p"></p>
            </li><li ng-style="{'background-color': rgb(255,0,255)}">
             <h2>Slide 3</h2>
            <p ph-txt="4s30p"></p>
            </li><li ng-style="{'background-color': rgb(192,192,192)}">
                And to finish :
                <iframe width="100%" height="80%" src="//www.youtube.com/embed/OQSNhk5ICTI" frameborder="0" allowfullscreen></iframe></li>
                
        </ul>
        
			</div>
	<!--		rn-carousel-index="3" -->