<img ph-img="1280x720" style="max-height: 360px; width: 100%;"/> 
		<div class="maincolumn">
		<aside>The latest tweet</aside>
		
		<div twitter-timeline="465156351153291265" auto-resize="true" css-url="css/fonts.css" data-tweet-limit="1">Loading tweets...</div>
	
		</div>
		<div class="mainheading">
		<aside style="margin-top: 0;">Featured case</aside>
		<h1>BetterDoctor</h1>
		<img src="img/bd_signupflow_000_panel0-landing-page.png" alt="BetterDoctor UI" /> <br /><br />
		</div>
				

		<div class="maincolumn">
		<summary>BetterDoctor needed help designing an easy and attractive way of signing up new doctors to the service. </summary>
		<p first-words>They lacked an in-house designer, so they also preferred an user interface update on their website. <a href="/#/portfolio">Read more &raquo;</a> </p>
		<!--testing view -->
		
		<!-- testing view ends 
		
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<img ph-img="720x480"/>
		<p ph-txt="2s"></p>
		<h2>BetterDoctor this is a long heading testing this now</h2>
		<p ph-txt="4s"></p>
		<p ph-txt="2s"></p>
		<ul>
		<li>First thing</li>
		<li>second thing this is a long heading testing  <a href="#">this is a long</a> heading testing  this is a long heading testing </li>
		<li>third thing</li>
		</ul>
		<p first-words ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<h2>BetterDoctor this is a long heading testing this now long heading testing this now</h2>
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<p ph-txt="2s"></p>
		<h3>BetterDoctor this is a long heading testing </h3>
		<p ph-txt="2s"></p>
		-->
</div>		