<!--		<div class="topimage" id="story"></div> -->

<div style="background: #e9f0f5;">
<div class="spacehead"></div>
<!-- HEADING -->
	<div class="storyheading">
	<aside>My professional path</aside>
	<h1>Story</h1>
	<summary>Why this story? I felt that it's hard to explain my professional path in just a few sentences. My work history is also available in my <a href="https://www.linkedin.com/in/pekkahartikainen">LinkedIn profile</a>.</summary>
	</div>

<!-- TIMELINE STARTS -->
<section id="cd-timeline" class="cd-container">

<!-- TIMELINE BLOCK -->

	<div class="cd-timeline-block">

		<!-- icon -->
		<div class="cd-timeline-img cd-work">
			<img src="/img/cd-icon-briefcase.svg" alt="Picture">
		</div>

		<div class="cd-timeline-content">

			<!-- summary  -->
			<aside style="margin:0">Lead Designer</aside>
			<h2>Making impact by leading design</h2>
			<img src="/img/oppex-story.jpg" alt="Working at Oppex" />
			<summary>Design lead for world's largest search engine for public bidding contests.</summary>

			<!-- read-more  -->
			<a href="javascript:;" class="cd-read-more" ng-model="collapsed7" ng-click="collapsed7=!collapsed7"><span ng-hide="collapsed7">Read more...</span></a>
			<div class="mover animate-hide" ng-show="collapsed7">
				<hr />
				<p first-words>I started as Lead Designer at Oppex in September 2015. I was hired to steer both the service and the organisation to more design-oriented direction. This involved coming up with a design process, increasing awareness of design thinking and doing the actual redesign.</p>
                <p>After five months of my start we successfully launched a complete redesign of the product. <a href="https://medium.com/@Pastori/applying-design-in-unexpected-places-a2975c4a649a#.tjtq31c7e">I blogged about the experience.</a></p>
                <img src="/img/oppex-service.jpg" alt="Oppex.com" />
                <figcaption>Redesigned Oppex website</figcaption>
                <!-- related -->
                <aside>Related</aside>
                <ul class="lis">
                    <li><a href="http://www.oppex.com">Oppex</a></li>
                    <li><a href="https://medium.com/@Pastori/applying-design-in-unexpected-places-a2975c4a649a#.xehqcu8pp">Applying design to unexpected places Case Oppex: making public procurement sexy.</a></li>
                </ul>
                <br />
			</div>

			<br style="clear: both;"/>
			<div class="compu">
				<u class="comp">New&nbsp;competencies</u>
			</div>
			<div class="content-wrapper">
				<u><span class="non">Design&nbsp;lead</span><span class="non">Organisational behavior</span><span class="non">Full-stack design</span></u>
				<br style="clear:both;" />
			</div>
			<!-- date -->
			<span class="cd-date">2015&ndash;</span>
		</div>
	</div>

	<!-- TIMELINE BLOCK -->

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-work">
	<img src="/img/cd-icon-briefcase.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside style="margin:0">Freelancer</aside>
	<h2>An independent digital craftsman</h2>
	<img src="/img/freelancer.jpg" alt="Pekka Hartikainen" />
	<summary>Contract work consisting of user interface, interaction, user experience and graphic design.</summary>

	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed6" ng-click="collapsed6=!collapsed6"><span ng-hide="collapsed6">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed6">
		<hr />


<p first-words> Depending on the scale of the case, I also participate in the business development and the concept creation. I try to avoid doing bulk websites – it's not very challenging and it's very competed area of business.</p>

<p>In an ideal situation I like to pair with a developer and work in fast product development cycles. Since mobile is thriving and so far the native applications allow the more extensive use of gestures and control of the user experience, I really fancy designing native apps for mobile and tablet devices.</p>

<p>For sure, I seek for the meaning for the services and apps I build. I always ask why do you want to build this and what is your goal or business challenge, before I start. Once there was a time, where even big companies made websites to provide information. I treat web as a channel to communicate or distribute what you want to do.</p>

	    
	
	</div>
	
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Design&nbsp;lead</span></u>
		<br style="clear:both;" />
	</div>				
	<!-- date --> 
	<span class="cd-date">2013&ndash;2015</span>
</div>
</div> 



<!-- TIMELINE BLOCK -->

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-plane">
	<img src="/img/cd-icon-plane.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside>Startup life in San Francisco</aside>
	<h2>Finding my voice as product designer </h2>
	<img src="/img/ditto-office.jpg" alt="Ditto Office" />
	<summary>While crafting my portfolio and got interested in responsive design. I realized that the great web applications couldn't be any more made in a hurry with a waterfall model – if you want to provide a superb user experience, you had to craft the app with love to different screen sizes.</summary>

	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed5" ng-click="collapsed5=!collapsed5"><span ng-hide="collapsed5">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed5">
		<hr />
	  <p first-words>This lead to growing interest on R&D rather than temporary campaigns.</p>

<p>I decided to apply to Ditto as Designer via Startup Life program and got chosen. The company was lead by Jyri Engeström and we formed a agile startup team consisting of product manager and two developers. The learning curve was very steep and development cycles fast – instead of presenting finished work to clients I got used  to minimum viable products and running it lean. The work was also more UX-oriented rather than polishing the screens.</p>

<p>Ditto was aqcuired by Groupon in 2012 and I found myself at Idean, a Finnish UX consultancy with a growing business in the US. After short visit in Helsinki I was back in San Francisco doing client work for BetterDoctor for the summer.</p>
<img src="/img/surfing.jpg" alt="Santa Cruz" />
<figcaption>Surf's up in Santa Cruz</figcaption>

<p>On the contrary of being the sole designer in a startup or working with all-around designers in marketing world, there was a house full of designers concentrating on the different aspects of user experience. Although the project work was still largely done by individuals, there was a vast amount of knowledge on UX and usability among the colleagueas. There was also no need to explain why UX was important – the clients and colleagues had already made the conclusion that it was important before a new project was started.</p>

<p>This strengtened my UX knowledge and the working environment encouraged to test the designs – and see how people react on them.</p>

<p>On the other hand, due to my sitebuilder background I could build prototypes myself and had already experienced that in San Francisco – I found myself in a minority in the company. I was certain that the best experiences were built by pairing developers and designers, not with the waterfall model where a designer hands out the ready-made wireframes to the developer – even though they had been tested on user with paper prototypes or such.</p>

<p>I got very interested in Lean UX and became a some kind of evangelist of the subject. I got tired of the ”second phase” – <a href="https://hbr.org/2012/05/the-biggest-lie-in-corporate-a/">the vision that was sold to clients but was never even intended to do.</a></p>

<p>I decided to start freelancing where I could use the latest methodologies and concentrate on fewer projects at time.</p>
	    
	<!-- related --> 
	 	<aside>Related</aside>
	 	<ul class="lis">
			<li><a href="http://www.idean.com">Idean</a></li> 
		</ul>
		<br />
	<!-- skills -->
	
	

	</div>
	
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">UX Design</span><span class="non">Agile Methods</span><span class="non">Startups</span></u>
		<br style="clear:both;" />
	</div>		
	<!-- date --> 
	<span class="cd-date">2012-2013</span>
</div>
</div> 

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-education">
	<img src="/img/cd-icon-university.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside style="margin: 0">Master of Arts</aside>
	<h2>Rethinking digital storytelling</h2>
	<img src="/img/pastori-shouts.jpg" alt="Storytelling" />
	<summary>The 1,5 years of practically non-stop working had taken it's toll and I had my Master's Thesis to finish in Media Lab, so I decided to take a study break to finish the double degree.</summary>

	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed4" ng-click="collapsed4=!collapsed4"><span ng-hide="collapsed4">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed4">
		<hr />
	  <p first-words>I also wanted to get the creative juices flowing outside the traditional business context and concentrate on stories and characters in the world of music.</p>

<p>My interest grew to combining music and storytelling in the modern world. My thesis ”The Use of Storytelling in Music Artist Promotion” was born out of that. To stand out from the huge selection of musicians available to listeners today, artists have to be able to tell meaningful stories to reach a loyal and lasting relationship with their audience. I provided different strategies for musicians and also made my own experiment online on the subject.</p>

<p>I graduated in 2011 and participated in Masters of Aalto exhibition as well. I found the new angle for creative work very inspirational and also got a bit tired of seasonal project-work nature of marketing consultancies, so I made a very hard decision to part ways with Bolder Helsinki.</p>
	    
	<!-- related --> 
	 	<aside>Related</aside>
	 	<ul class="lis">
			<li><a href="http://www.mastersofarts.fi/moa2011/index.php?option=com_moa_masters&task=view&memid=26&member=pekka-hartikainen&Itemid=33">My introduction on Masters of Arts 2011 Exhibition</a></li> 
	<li><a href="http://pekkahartikainen.fi/storytelling/">The Use of Storytelling in Artist Promotion &ndash; Project homepage</a></li>
		</ul>
		<br />
	<!-- skills -->
	
			</div>
			
	<!-- date --> 
		<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Storytelling</span><span class="non">Exhibitions</span><span class="non">Media Arts</span></u>
		<br style="clear:both;" />
	</div>
	<span class="cd-date">2011</span>
</div>
</div> 



<!-- TIMELINE BLOCK -->

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-star">
	<img src="/img/cd-icon-star.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside style="margin: 0">Bolder Helsinki</aside>

	<h2>Running an agency</h2>
	<img src="/img/bolder-collage.jpg" alt="Bolder Helsinki" />
	<summary>Sometimes you land on a chance to do something really special with truly unique people. Joining Bolder Helsinki in January 2009 was definitely one of those moments – even though the company had just been founded.</summary>

	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed3" ng-click="collapsed3=!collapsed3"><span ng-hide="collapsed3">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed3">
		<hr />
	  <p first-words>I started as creative and sitebuilder and did the last courses in Media Lab at the same time. In the spring I was chosen as the new CEO and started really pushing the company with my fellow partners. Bolder helped me to raise the bar in creative work. The level of work had to pass the expectations of other creatives and support the company vision – on the client side it about exceeding the expectations, not meeting them.</p>

<p>As a CEO I was responsible for sales, strategy, HR and did developement on the side to support the ongoing projects, when needed. We grew the company to a full-time job for 10 people out of nothing in one and a half years.</p>
	  <div class="vimeo">
<div class='embed-container'>
	<iframe src='http://player.vimeo.com/video/15219345' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</div>
<br />
<figcaption>Party in Uunisaari. Big party.</figcaption>

	    
	<!-- related --> 
	 	<aside>Related:</aside>
	 	<ul class="lis">
			<li><a href="http://vimeo.com/19403090">Bolder Helsinki Showreel</a></li> 
			<li><a href="http://vimeo.com/uutheory/videos">More videos made by Bolder</a></li>
		</ul>
		<br />
	<!-- skills -->
	
			</div>
	
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Entrepreneurship</span><span class="non">Team leading</span><span class="non">business strategy</span><span class="non">Concept design</span></u>
		<br style="clear:both;" />
	</div>		
	<!-- date --> 
	<span class="cd-date">2009&ndash;2011</span>
</div>
</div> 



<!-- TIMELINE BLOCK -->

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-plane">
	<img src="/img/cd-icon-plane.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside style="margin: 0">USA, Stonesoft and Media Lab</aside>
	<h2>Becoming T-shaped designer</h2>
	<img src="/img/demo-day2.jpg" alt="Demo Day" />
	<summary>In 2007 did my exchange in Pitt State University in Kansas, US and wrote my thesis at the same time. I decided to head for double degree and apply to Master's Program at Media Lab in University of Art and Design Helsinki and got accepted. </summary>


	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed2" ng-click="collapsed2=!collapsed2"><span ng-hide="collapsed2">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed2">
		<hr />
	  	<p first-words>I later learned that Media Lab transformed my view on the whole field with its versatile view on media.</p>
	  	<p>I also started working as a web designer at Stonesoft, a listed network security company (nowadays part of McAfee, owned by Intel). I was part of the marketing and communications team, developing and deploying multi-channel e-Marketing campaigns to support company's global sales.</p>

			<p>I was responsible for Stonesoft's global website, CRM system and marketing collateral. The work was truly international – I communicated with several country managers to implement marketing activities in their markets.</p>

			<p>At the end of 2007 I graduated as M.Sc. (Econ) in Information Systems Science from Helsinki School of Economics (nowadays Aalto University). The title of the thesis was &quot;The Adoption of 3G Phones and Mobile Services in Different Innovation Groups&quot;.</p> 
			<p>After working one and a half years at Stonesoft I decided to fully concentrate on my studies in the Media Lab in autumn 2008.</p>
	  
	  <img src="/img/rockies.jpg" alt="Rockies" />
		<figcaption>Rocky Mountains</figcaption>
		<img src="/img/stonesoft-ssl-vpn.jpg" alt="Stonesoft SSL VPN Campaign Site" />
		<figcaption>Campaign Site for StoneGate SSL VPN</figcaption>
	    
	<!-- related --> 
	 	<aside>Related</aside>
	 	<ul class="lis">
			<li>Master's Thesis: <a href="pdf/3g_puhelinten_ja_mobiilipalvelujen_kayttoonotto_thesis.pdf" target="_self" download="3g_puhelinten_ja_mobiilipalvelujen_kayttoonotto_thesis.pdf">The Adoption of 3G Phones and Services in Different Innovation Groups (pdf)</a> </li>
		</ul>
		<br />
	<!-- skills -->
		</div>
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Media&nbsp;Production</span><span class="non">SEO</span><span class="non">CRM</span><span class="non">Academic&nbsp;Writing</span></u>
		<br style="clear:both;" />
	</div>
			
	<!-- date --> 
	<span class="cd-date">2007-2008</span>
</div>
</div> 



<!-- TIMELINE BLOCK -->

<div class="cd-timeline-block">

<!-- icon -->
<div class="cd-timeline-img cd-work">
	<img src="/img/cd-icon-briefcase.svg" alt="Picture">
</div> 

<div class="cd-timeline-content">

	<!-- summary  -->
	<aside style="margin: 0">Information Technology Program</aside>
	<h2>Grooming Future Digital Managers</h2>
	<img src="/img/itp2006.jpg" alt="ITP 2006" />
	<summary>Just before the thesis work I got an opportunity to work as project coordinator for Information Technology Program – the same program I once had attended as student.</summary>

	<!-- read-more  -->
	<a href="javascript:;" class="cd-read-more" ng-model="collapsed10" ng-click="collapsed10=!collapsed10"><span ng-hide="collapsed10">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed10">
		<hr />
	  <p first-words>I negotiated, sold and steered five digital media projects for the three-month summer program. I also planned the schedule for the program and the studies along with my colleagues and got a bonus for the work well done from the program manager. The sales experience combined with the educational part of the job made it really useful and valuable experience.</p>

	    
	<!-- related --> 
	 	<aside>Related</aside>
	 	<ul class="lis">
			<li><a href="pdf/itp_brochure_2006.pdf" target="_self" download="itp_brochure_2006.pdf">ITP Brochure 2006 (pdf)</a> &copy Topi Saari</li>
		</ul>
		<br />
	<!-- skills -->
	
		
	</div>
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Sales</span><span class="non">Project&nbsp;management</span><span class="non">Pedagogical&nbsp;skills</span></u>
		<br style="clear:both;" />
	</div>				
	<!-- date --> 
	<span class="cd-date">2006</span>
</div>
</div> 


<!-- TIMELINE BLOCK -->
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-star">
				<img src="/img/cd-icon-star.svg" alt="Movie">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content">
				<aside style="margin: 0">Student union years</aside>
				<h2>Learning the digital craft</h2>
				<img src="/img/ky-kollaasi.jpg" alt="Helsinki School of Economics" />
<summary>Hands-on work with web, print and campaigns &ndash; working full-time for the student union.</summary>

						<a href="javascript:;" class="cd-read-more" ng-model="collapsed" ng-click="collapsed=!collapsed"><span ng-hide="collapsed">Read more...</span></a>
		<div class="mover animate-hide" ng-show="collapsed">
			<hr />
			<p first-words>At the time the student union was a service organization with annual operating budget over 1M euros and cirka. 20 employees serving ca. 3800 students.</p>
				<p>Usually student unions operate solely by volunteer work, but due to excellent resources we had also full-time and part-time employees to accomplish our mission to be the best student union in the world.</p>
	    <p>I helped the student union to triple their site visitors largely by activating the legendary KY Forums discussions board before the emerging social media hype. The opinion-dividing forum affected the way the student union communicated, but didn't leave anybody cold. Important part of the job was to educate the students how to discuss online and get feedback.</p>

<p>In addition we launched a website redesign project and I did many promotional websites for events, such as annual ball and the first annual KY City Challenge. I also participated in Information Technology Program at HSE during the summer 2003.</p>

<p>I felt I had stil more to give after one year of work. I was chosen as Art Director for the next year. As AD I concentrated more on print,  and design in general. I was responsible for the layout for the student union's magazine Kylteri and worked closely with Editor-in-Chief (Satu Rämö and Tuomas Niskakangas).</p>

<p>After two and a half years of working I had acquired a versatile skill set in online and print media in addtion to my economic studies. People kept increasingly asking favors from me related to their hobbies or companies, so I decided to start one myself and became a sole trader.</p>
<aside>Some work from KY era</aside>
<ul class="lis">
	<li><a href="pdf/toimintakertomus2004_web.pdf" target="_self" download="pdf/toimintakertomus2004_web.pdf">Annual Report 2004 &ndash; The Student Union of Helsinki School of Economics (pdf)</a></li>
	<li><a href="pdf/kylteri0404.pdf" target="_self" download="pdf/kylteri0404.pdf">Kylteri Magazine 04/2004 (pdf)</a></li>
	<li><a href="pdf/kyopas05_web.pdf" target="_self" download="pdf/kyopas05_web.pdf">New students' guide 2005 (pdf)</a></li>
</ul>
<br />


		</div>
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Frontend</span><span class="non">UI Design</span><span class="non">Graphic&nbsp;design</span></u>
		<br style="clear:both;" />
	</div>		
				<span class="cd-date">2003–2005</span>
			</div> <!-- cd-timeline-content -->
		</div> 


<!-- TIMELINE BLOCK -->
		
		<div class="cd-timeline-block">
			<div class="cd-timeline-img cd-education">
				<img src="/img/cd-icon-university.svg" alt="Picture">
			</div> <!-- cd-timeline-img -->

			<div class="cd-timeline-content"><span class="cd-date">2000–2002</span>
				<aside style="margin: 0">Helsinki School of Economics</aside>
				<h2>A foundation in understanding business</h2>
				
				<img src="/img/hse.jpg" alt="Helsinki School of Economics" />
				
				<summary>I started studying in one of the leading business schools in Nordic countries.</summary>
				 
							
				
			<a href="javascript:;" class="cd-read-more" ng-model="collapsed1" ng-click="collapsed1=!collapsed1"><span ng-hide="collapsed1">Read more...</span></a>
	<div class="mover animate-hide" ng-show="collapsed1">
	 <p first-words>After completing the basic undergraduate studies successfully I wanted to do something else for a while and got chosen as web developer in the Student Union of Helsinki School of Economics. I started developing websites as a hobby, my first site was a communication channel and meetup place for my friends.</p>
	    
	<!-- related --> 
	 	<aside>Related</aside>
	 	<ul class="lis">
			<li><a href="http://biz.aalto.fi/en/" target="_blank">Aalto University School of Business</a></li>
		</ul>
		
	<!-- skills -->
	
		
	</div>
	<br style="clear: both;"/>
	<div class="compu">
		<u class="comp">New&nbsp;competencies</u>
	</div>
	<div class="content-wrapper">
		<u><span class="non">Business&nbsp;education</span></u>
		<br style="clear:both;" />
	</div>
	
				
			</div> <!-- cd-timeline-content -->
		</div>











		
	</section> <!-- cd-timeline -->
</div>


<div style="text-align: center;">
<br class="hide-for-medium-up" />
<summary>...and the story continues! <br /><br />    <a href="/profile/">See my profile &raquo;</summary>
<!--<h2>Links</h2>
<ul class="lis">
	<li><a href="http://biz.aalto.fi/en/">Aalto University School of Business</a></li>
	<li><a href="http://kyweb.fi/en/">Association of Economic Students Helsinki</a></li>
	<li><a href="http://itpaalto.fi/">Information Technology Program at Aalto</a></li>
	<li><a href="http://stonesoft.com/en/">Stonesoft is now part of McAfee</a></li>
	<li><a href="http://vimeo.com/19403090">Bolder Helsinki Showreel</a></li>
	<li><a href="https://medialab.aalto.fi/">Media Lab Helsinki</a></li>
	<li><a href="http://startuplife.fi/">Startup Life</a></li>
	<li><a href="http://www.idean.com">Idean</a></li>
</ul>
-->
<br />

</div>
<script src="/js/vertical-timeline.js"></script>