<!--		<img ph-img="1280x720" style="max-height: 360px; width: 100%;"/> -->
<div class="topimage" id="contact"></div>
		
		<div class="mainheading">
		<aside>Hello there</aside>
		<h1>Contact</h1>
		</div>
		<div class="maincolumn">
		<summary>Just say hello or request a meeting. The preferred minimum project length is one month.</summary>
		<p first-words>As a designer, I believe in small agile teams
and lean UX. Instead of just creating design documents, I want to deliver carefully crafted
end-state experiences designed and developed
in a team with iterative process.</p>


	</div>
	<br />
	<h2 style="text-align: center;">Contact info</h2>
	<ul class="lis"  style="text-align: center; list-style: none;">
	<li>+358 40 765 4634</li>
	<li>pekka.t.hartikainen (at) gmail.com</a></li>
	<li><a href="https://twitter.com/pastorator">Pastorator @ Twitter</a></li>
	<li><a href="https://www.linkedin.com/in/pekkahartikainen">LinkedIn</a></li>

</ul>
<br /><br />

<summary style="text-align: center;">Hope to see you soon!</summary>
<!-- insert like button -->
<br /><br />